window.Notification-Popup {
  background-color: rgba($background, 0.6);
  color: $secondary;

  border: 1px solid $outline;
  border-radius: 12px;

  .system {
    margin: 10px 10px 5px;

    min-width: 100px;

    image {
      -gtk-icon-size: 50px;
    }
  }

  .program {
    margin: 10px 5px;

    .body {
      font-weight: 500;
    }

    image {
      -gtk-icon-size: 30px
    }
  }

  scale {
    trough {
      background: $surface_container_highest;

      border-radius: 8px;
      min-height: 8px;

      highlight {
        background-color: $primary;
        border-radius: 7px;
      }

      slider {
        display: none;
      }
    }
  }
}
