// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@import "./colors.scss";
@import "./widgets/Status-Bar/status-bar.scss";
@import "./widgets/ncgui/ncgui.scss";
@import "./widgets/Metrics-Bar/metrics-bar.scss";
@import "./widgets/Player-Bar/player-bar.scss";
@import "./widgets/Notification-Popup/notification-popup.scss";

* {
  all: unset;

  font-family: "Adwaita Sans Nerd Font";
  font-size: 16px;
  font-weight: 700;
}

window.Status-Bar,
window.Metrics-Bar,
window.Player-Bar {
  background: transparent;
  color: $secondary;
}

tooltip {
  background: rgba($surface_container_low, 0.8);
  border: 1px solid $outline_variant;
  border-radius: 12px;
  padding: 6px;
}
