// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@import "./colors.scss";

* {
  all: unset;
  // border: 1px solid red;
}

window.Bar {
  background: transparent;
  color: $secondary;

  font-family: "Adwaita Sans Nerd Font";
  font-size: 16px;
  font-weight: bold;

  .center-box {
    background-color: black;
    border: 1px solid $outline;
    border-top: none;
    border-radius: 0 0 11px 11px;

    min-width: 500px;

    padding: 4px 10px;

    .clock-box,
    .audio-box,
    .bluetooth-box,
    .network-box,
    .battery-box {
      padding: 0 4px 1px;

      // border: 1px solid red;
      // &:hover {
      //   background: $on_secondary;
      //   border-radius: 6px;
      // }
      &:hover {
        border-bottom: 1px solid $primary;
        padding-bottom: 0;
      }
    }

    popover {
      background-color: $surface_container_low;
      border: 1px solid $primary;
      border-radius: 12px;
      padding: 6px;
      margin-top: 15px;

      min-width: 300px;

      .header {
        margin: 0 6px 6px;
        padding: 2px 4px;

        padding-bottom: 6px;
        border-bottom: 2px solid $outline_variant;

        .refresh-btn {
          border-left: 2px solid $outline_variant;
          font-size: 14px;

          padding-left: 15px;
          margin-left: 15px;

          box {
            image {
              color: $primary;
            }

            &:hover {
              opacity: 0.7;
              transition: 0.1s all linear;
            }
          }
        }
      }

      .volume {
        border: none;
      }

      .wifi-list-item.no-hover {
        background: transparent;
        color: $secondary;
      }

      .wifi-list-item,
      .bluetooth-list-item {
        padding: 4px 6px;
        transition: 0.1s all linear;

        .edit-btn,
        .active-icon {
          -gtk-icon-size: 18px;
        }

        .edit-btn {
          color: transparent;
          transition: 0.1s all linear;
          // margin-left: 10px;
          padding-left: 10px;
        }

        &:hover {
          background: $primary_container;
          border-radius: 7px;
          color: $on_primary_container;

          transition: 0.1s all linear;

          .edit-btn {
            color: $on_primary_container;
            transition: 0.1s all linear;

            &:hover {
              color: $primary;
            }
          }
        }

        &.active {
          background: $surface_container_high;
          border-left: 2px solid $primary;
        }

        &.error {
          color: $error;
          border: 1px solid $error_container;
        }

        &.connecting {
          color: $tertiary;
          border-color: $tertiary_container;
        }

        .frequency-label,
        .battery-label {
          color: $outline;
          font-size: 13px;
        }
      }
    }

    .power-profile-popover {
      min-width: 150px;

      .profile-btn {
        padding: 4px 6px;
        transition: 0.1s all linear;

        &:hover {
          background: $primary_container;
          border-radius: 7px;
          color: $on_primary_container;

          transition: 0.1s all linear;
        }
      }

      .active {
        background: $surface_container_high;
        border-left: 2px solid $primary;
      }
    }

    scale {
      min-width: 200px;

      trough {
        background: $surface_container_highest;
        border-radius: 7px;
        min-height: 20px;
      }

      trough highlight {
        background-color: $primary;
        border-radius: 7px;

        &:hover {
          opacity: 0.7;
          transition: 0.1s all linear;
        }
      }

      trough slider {
        display: none;
      }
    }

    switch {
      min-width: 48px;
      min-height: 24px;
      border-radius: 12px;
      border: none;
      background-color: $surface_container_highest;

      &:checked {
        background-color: $primary;

        slider {
          background: $on_primary;
        }
      }

      &:hover {
        opacity: 0.8;
        transition: 0.1s all linear;
      }

      > slider {
        min-width: 20px;
        min-height: 20px;
        margin: 2px;
        border-radius: 50%;
        background-color: $outline;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .spinning {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .workspace {
    min-width: 24px;
    border-radius: 50%;

    color: transparent;
    background: $surface_container;

    transition: 0.3s all linear;

    &.active {
      background: $primary;
      transition: 0.3s all linear;
    }

    &.urgent {
      animation: blinking 3s ease-in-out infinite;
    }

    &:hover {
      background: $primary_container;
      transition: 0.3s all linear;
    }
  }

  calendar {
    button,
    label {
      &:hover {
        background-color: $primary_container;
        border-radius: 5px;
        color: $on_primary_container;
      }
    }

    .other-month {
      color: $surface_variant;
    }

    .today {
      background-color: $primary;
      border-radius: 5px;
      color: $on_primary;
    }
  }

  tooltip {
    background-color: $surface_container_low;
    border: 1px solid $outline_variant;
    border-radius: 12px;
    padding: 6px;
    margin-top: 15px;
  }
}

.main-window {
  background-color: $surface_container_low;
  border: 1px solid $outline;
  border-radius: 12px;
  padding: 12px;

  &:hover {
    border-color: $primary;
  }

  color: $secondary;
  font-family: "Adwaita Sans Nerd Font";
  font-size: 16px;
  font-weight: bold;

  .header {
    border-bottom: 2px solid $outline_variant;
    padding: 0 4px 6px;

    .frequency-label {
      color: $secondary_container;
      font-size: 13px;
    }
  }

  button {
    border: 1px solid $outline_variant;
    border-radius: 12px;
    padding: 6px 10px;

    &:hover {
      background: $primary_container;
      color: $on_primary_container;
      border-color: $primary;
    }
  }
  * {
    // border: 1px solid red;
  }

  .password-box {
    padding: 0 4px;

    entry {
      background: $surface_container;
      color: $on_surface;
      border-bottom: 1px solid $outline;
      padding: 6px;
      min-width: 200px;

      margin: 7px 4px 6px 6px;

      &:focus {
        border-bottom: 2px solid $primary;
      }
    }

    button.toggle {
      min-height: 0;
      min-width: 0;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;

      color: $primary;

      image {
        opacity: 0.2;
        -gtk-icon-size: 23px;
      }

      &:checked {
        color: $primary;

        image {
          opacity: 1;
        }
      }
    }
  }

  .bottom-buttons-box {
    margin-top: 8px;
  }

  .forget,
  .disconnect {
    border-color: $error;
    color: $error;
    font-size: 13px;

    &:hover {
      background: $error_container;
      color: $on_error_container;
      border-color: $error;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      margin-top: 0;
    }
    50% {
      margin-top: -6px;
    }
  }

  @keyframes blinking {
    0%,
    100% {
      background: radial-gradient(
        circle,
        $surface_container 9px,
        $surface_container 10px
      );
    }
    50% {
      background: radial-gradient(
        circle,
        $surface_container 9px,
        $error 10px
      );
    }
  }

  .dot {
    animation: bounce 0.8s ease-in-out infinite;
    color: $tertiary;
  }

  .dot-1 {
    animation-delay: 0s;
  }
  .dot-2 {
    animation-delay: 0.2s;
  }
  .dot-3 {
    animation-delay: 0.4s;
  }
}
